body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}



h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}


.button-container {
    display: flex;
    justify-content: space-evenly; /* Evenly spaces the buttons */
    margin-bottom: 20px; /* Adds some space below the buttons */
}

.button-container button {
    padding: 10px 20px; /* Adds padding inside the buttons for better appearance */
    font-size: 16px; /* Adjusts the font size of the buttons */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3; /* Changes the button color on hover */
}

.btn-review {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

    .btn-review:hover {
        background-color: #218838;
    }

    .btn-review:focus,
    .btn-review:active:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #218838;
    }

.grant-review-grading {
    padding-left: 100px;
    padding-right: 300px;
}
