@page
@model CS4760Group1.Pages.CommitteeReviewModel
@{
}




<div class="container">
    
    <h1>Committee Review</h1>

    <div id="currentMembers">
        <h4>Committee Members:</h4>
        <ul id="CommitteeMemberList">
            <li>John Smith - Harvard University Harvard Law School</li>

        </ul>
    </div>

    <div id="filterSection">
        <div class="form-group">
            <label asp-for="UserAffiliation.CollegeId" class="control-label">College</label>
            <select asp-for="SelectedCollegeId" class="form-control" asp-items="Model.CollegeList" id="collegeSelect">
                <option value="">Select a college</option>
            </select>
            <span asp-validation-for="UserAffiliation.CollegeId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserAffiliation.DepartmentId" class="control-label">Department:</label>
            <select asp-for="UserAffiliation.DepartmentId" class="form-control" asp-items="Model.DepartmentList" id="departmentSelect">
                <option value="">Select a department</option>
            </select>
            <span asp-validation-for="UserAffiliation.DepartmentId" class="text-danger"></span>
        </div>
    </div>

    <div id="potentialMembers">
        <h4>Potential Members:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>College</th>
                    <th>Department</th>
                    <th>Committee</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.User) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>Weber State University</td>
                        <td>Computer Science</td>
                        <td>
                            <button class="btn btn-primary add-btn" asp-action="AddMember">Add</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/UpdateDepartments.js"></script>
    <script src="~/js/AddRemoveCommitteeMember.js"></script>
}