@page
@model CS4760Group1.Pages.GrantFormModel
@{
}

<h1>Grant Form</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GrantForm.Title" class="control-label">Title:</label>
                <input asp-for="GrantForm.Title" class="form-control" />
                <span asp-validation-for="GrantForm.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantForm.PI" class="control-label">PI:</label> <!-- Eventually grab who's logged in and display here' -->
                <select asp-for="GrantForm.PI" class="form-control">
                    <option value="user">User</option>
                </select>
                <span asp-validation-for="GrantForm.PI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantForm.Description" class="control-label">Description:</label>
                <textarea asp-for="GrantForm.Description" class="form-control"></textarea>
                <span asp-validation-for="GrantForm.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GrantForm.GrantType" class="control-label">Grant type:</label>
                <select asp-for="GrantForm.GrantType" class="form-control">
                    <option value="travel">Travel grant</option>
                    <option value="spring">Spring grant</option>
                    <option value="summer">Summer grant</option>
                </select>
                <span asp-validation-for="GrantForm.GrantType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GrantForm.AmountRequested" class="control-label">Amount requested:</label> <!-- Add validation for only numbers -->
                <input asp-for="GrantForm.AmountRequested" class="form-control" />
                <span asp-validation-for="GrantForm.AmountRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>