@page
@model CS4760Group1.Pages.GrantFormModel
@{
}

<h1>Grant Form</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grant.Title" class="control-label">Title:</label>
                <input asp-for="Grant.Title" class="form-control" />
                <span asp-validation-for="Grant.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grant.PI" class="control-label">PI:</label> 
                <select asp-for="Grant.PI" class="form-control" asp-items="Model.UserList"> <!-- auto populates -->
                    <option value="">Select a PI</option>
                </select>
                <span asp-validation-for="Grant.PI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grant.Description" class="control-label">Description:</label>
                <textarea asp-for="Grant.Description" class="form-control"></textarea>
                <span asp-validation-for="Grant.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Select College:</label>
                <select id="collegeSelect" class="form-control" asp-for="Grant.CollegeID" asp-items="@(new SelectList(Model.College, "Id", "Name"))">
                    <option>Select College</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Department:</label> <!-- Needs to be able to be filtered by what College is selected -->
                <select id="departmentSelect" class="form-control" asp-for="Grant.DepartmentID" asp-items="@(new SelectList(Model.Department, "Id", "Name"))">
                    <option>Select Department</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.Type" class="control-label">Grant type:</label>
                <select asp-for="Grant.Type" class="form-control">
                    <option value="RSPG">RSPG</option>
                    <option value="ARCC">ARCC</option>
                    <option value="OUR">OUR</option>
                </select>
                <span asp-validation-for="Grant.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Grant Season:</label> 
                <select id="grantSeason" class="form-control" asp-for="Grant.Season">
                    <option>Select Season</option>
                    <option value="fall">Fall</option>
                    <option value="spring">Spring</option>
                    <option value="travel">Travel</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group"> <!-- Needs to be able to be filtered by what season is selected -->
                <label class="control-label">Grant Subtype:</label>
                <select id="grantSubType" class="form-control" asp-for="Grant.SubType" asp-items="@(new SelectList(Model.AppliedGrant, "applyingFor", "applyingFor"))">
                    <option>Select Subtype</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <!-- Needs Amnt from RSPG, From other, And total amount. Auto populated from resouces page-->

            <div class="form-group"> 
                <label asp-for="Grant.Amount" class="control-label">Amount requested from RSPG:</label>
                <input asp-for="Grant.Amount" class="form-control" />
                <span asp-validation-for="Grant.Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.AmountFromOther" class="control-label">Amount requested from other:</label>
                <input asp-for="Grant.AmountFromOther" class="form-control" />
                <span asp-validation-for="Grant.AmountFromOther" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.TotalAmount" class="control-label">Total Amount:</label>
                <input asp-for="Grant.TotalAmount" class="form-control" />
                <span asp-validation-for="Grant.TotalAmount" class="text-danger"></span>
            </div>

            <!----------------------------------------------------------------->

            <div class="form-group">
                <label asp-for="Grant.Index" class="control-label">Index:</label>
                <input asp-for="Grant.Index" class="form-control" />
                <span asp-validation-for="Grant.Index" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.ProcMethod" class="control-label">Procedure and Method:</label>
                <textarea asp-for="Grant.ProcMethod" class="form-control"></textarea>
                <span asp-validation-for="Grant.ProcMethod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.Timeline" class="control-label">Timeline:</label>
                <textarea asp-for="Grant.Timeline" class="form-control"></textarea>
                <span asp-validation-for="Grant.Timeline" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GrantUpload">Upload Grant File:</label>
                <input type="file" name="GrantUpload" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GrantUpload2">Upload Grant File:</label>
                <input type="file" name="GrantUpload2" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GrantUpload3">Upload Grant File:</label>
                <input type="file" name="GrantUpload3" class="form-control" />
            </div>
            <div></div>
            <div>
                <a asp-page="Resource">View Resources</a>
            </div>

            

            <div class="form-group">
                <!-- When checked, another file submission appears and is mandated. User needs to upload a instituional review board approval form -->
                <input type="checkbox" asp-for="Grant.SubjectNeeded" id="subjectNeeded" />
                <label asp-for="Grant.SubjectNeeded" class="control-label">Human or animal subject needed?</label>
                <span asp-validation-for="Grant.SubjectNeeded" class="text-danger"></span>
            </div>

            <div class="form-group" id="approvalUpload" style="display:none;">
                <label for="ApprovalUpload">Upload Institutional Review Board Approval Form:</label>
                <input type="file" name="ApprovalUpload" id="ApprovalUpload" class="form-control" required />
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
    <script src="~/js/UpdateDepartments.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var subjectCheckbox = document.getElementById('subjectNeeded');
            var approvalFormDiv = document.getElementById('approvalUpload');

            // Listen for checkbox changes
            subjectCheckbox.addEventListener('change', function () {
                if (this.checked) {
                    // Show the file upload div if the checkbox is checked
                    approvalFormDiv.style.display = 'block';
                } else {
                    // Hide the file upload div if the checkbox is unchecked
                    approvalFormDiv.style.display = 'none';
                }
            });
        });
    </script>
}
