@page
@model CS4760Group1.Pages.GrantFormModel
@{
}

<h1>Grant Form</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grant.Title" class="control-label">Title:</label>
                <input asp-for="Grant.Title" class="form-control" />
                <span asp-validation-for="Grant.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grant.PI" class="control-label">PI:</label> 
                <select asp-for="Grant.PI" class="form-control" asp-items="Model.UserList"> <!-- auto populates -->
                    <option value="">Select a PI</option>
                </select>
                <span asp-validation-for="Grant.PI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grant.Description" class="control-label">Description:</label>
                <textarea asp-for="Grant.Description" class="form-control"></textarea>
                <span asp-validation-for="Grant.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Select College:</label>
                <select class="form-control" asp-for="Grant.CollegeID" asp-items="@(new SelectList(Model.College, "Id", "Name"))">
                    <option>Select College</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Department:</label> <!-- Needs to be able to be filtered by what College is selected -->
                <select class="form-control" asp-for="Grant.DepartmentID" asp-items="@(new SelectList(Model.Department, "Id", "Name"))">
                    <option>Select Department</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.Type" class="control-label">Grant type:</label>
                <select asp-for="Grant.Type" class="form-control">
                    <option value="RSPG">RSPG</option>
                    <option value="ARCC">ARCC</option>
                    <option value="OUR">OUR</option>
                </select>
                <span asp-validation-for="Grant.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Grant Season:</label> 
                <select class="form-control" asp-for="Grant.Season">
                    <option>Select Season</option>
                    <option value="fall">Fall</option>
                    <option value="spring">Spring</option>
                    <option value="travel">Travel</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group"> <!-- Needs to be able to be filtered by what season is selected -->
                <label class="control-label">Grant Subtype:</label>
                <select class="form-control" asp-for="Grant.SubType" asp-items="@(new SelectList(Model.AppliedGrant, "applyingFor", "applyingFor"))">
                    <option>Select Subtype</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <!-- Needs Amnt from RSPG, From other, And total amount. Auto populated from resouces page-->

            <div class="form-group"> 
                <label asp-for="Grant.Amount" class="control-label">Amount requested from RSPG:</label>
                <input asp-for="Grant.Amount" class="form-control" />
                <span asp-validation-for="Grant.Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.AmountFromOther" class="control-label">Amount requested from other:</label>
                <input asp-for="Grant.AmountFromOther" class="form-control" />
                <span asp-validation-for="Grant.AmountFromOther" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.TotalAmount" class="control-label">Total Amount:</label>
                <input asp-for="Grant.TotalAmount" class="form-control" />
                <span asp-validation-for="Grant.TotalAmount" class="text-danger"></span>
            </div>

            <!----------------------------------------------------------------->



            <div class="form-group">
                <label asp-for="GrantUpload">Upload Grant File:</label>
                <input type="file" name="GrantUpload" class="form-control" />
            </div>
            <div></div>
            <div>
                <a asp-page="Resource">View Resources</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script>

</script>