@page
@model CS4760Group1.Pages.GrantFormModel
@{
}

<h1>Grant Form</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grant.Title" class="control-label">Title:</label>
                <input asp-for="Grant.Title" class="form-control" />
                <span asp-validation-for="Grant.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grant.PI" class="control-label">PI:</label> <!-- Change to auto populate with who's logged in -->
                <select asp-for="Grant.PI" class="form-control">
                    <option value="user">User</option>
                </select>
                <span asp-validation-for="Grant.PI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grant.Description" class="control-label">Description:</label>
                <textarea asp-for="Grant.Description" class="form-control"></textarea>
                <span asp-validation-for="Grant.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.Type" class="control-label">Grant type:</label> <!-- Change to auto populate with grants currently available? -->
                <select asp-for="Grant.Type" class="form-control">
                    <option value="rspg">RSPG</option>
                    <option value="arcc">ARCC</option>
                    <option value="our">OUR</option>
                </select>
                <span asp-validation-for="Grant.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grant.Amount" class="control-label">Amount requested:</label>
                <input asp-for="Grant.Amount" class="form-control" />
                <span asp-validation-for="Grant.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>