@page
@model CS4760Group1.Pages.ResourceModel
@{
    ViewData["Title"] = "Resource";
}

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Table</title>
    <link rel="stylesheet" href="~/css/resourcepage.css" />
    
</head>
<body>
    <h1 class="header">BUDGET</h1>
    <div class="center-table-container">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Donor</th>
                <th>Donor</th>
                <th>Donor</th>
                <th>Funds Requested from RSPG</th>
                <th>Grand Total</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="5">1) PERSONNEL RESOURCES (assistants, consultants, released time)</td>
            </tr>
            <tr>
                <td>a)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>b)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>c)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td colspan="5">
                    BENEFITS for Personnel Resources (15%for released time, 22% for payments to WSU
                    employees, 8.5% for hourly wage or student payments.)
                </td>
            </tr>
            <tr>
                <td>a)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>b)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>c)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>

            <tr>
                 <td colspan="5">2) EQUIPMENT AND MATERIALS</td>
            </tr>
            <tr>
                <td>a)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>b)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>c)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                 <td colspan="5">3) TRAVEL</td>
            </tr>
            <tr>
                <td>a)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>b)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>c)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td colspan="5">4) OTHER</td>
            </tr>
            <tr>
                <td>a)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>b)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>c)</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>TOTALS</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
               

            
            
        </tbody>
    </table>
    </div>

</body>

