@page
@model CS4760Group1.Pages.ResourceModel
@{
    ViewData["Title"] = "Resource";
}

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Table</title>
    <link rel="stylesheet" href="~/css/resourcepage.css" />
    
</head>
<body>
    <h1 class="header">BUDGET</h1>
    <div class="center-table-container">
    <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Donor<br><input type="text" name="donor1Header" /></th>
                    <th>Donor<br><input type="text" name="donor2Header" /></th>
                    <th>Donor<br><input type="text" name="donor3Header" /></th>
                    <th id="fundsColumn">Funds Requested from RSPG</th>
                    <th>Grand Total</th>
                </tr>
            </thead>
        <tbody>

            <tr>
                <td colspan="5">1) PERSONNEL RESOURCES (assistants, consultants, released time)</td>
            </tr>
            <tr>
                <td>a)</td>
                <td><input type="text" name="donor1a" /></td>
                <td><input type="text" name="donor2a" /></td>
                <td><input type="text" name="donor3a" /></td>
                <td><input type="text" name="fundsRequested1a" /></td>
                <td><input type="text" name="grandTotal1a" /></td>
            </tr>
            <tr>
                <td>b)</td>
                <td><input type="text" name="donor1b" /></td>
                <td><input type="text" name="donor2b" /></td>
                <td><input type="text" name="donor3b" /></td>
                <td><input type="text" name="fundsRequested1b" /></td>
                <td><input type="text" name="grandTotal1b" /></td>
            </tr>
            <tr>
                <td>c)</td>
                <td><input type="text" name="donor1c" /></td>
                <td><input type="text" name="donor2c" /></td>
                <td><input type="text" name="donor3c" /></td>
                <td><input type="text" name="fundsRequested1c" /></td>
                <td><input type="text" name="grandTotal1c" /></td>
            </tr>
            <tr>
                <td colspan="5">
                    BENEFITS for Personnel Resources (15%for released time, 22% for payments to WSU
                    employees, 8.5% for hourly wage or student payments.)
                </td>
            </tr>
            <tr>
                <td>a)</td>
                <td><input type="text" name="donor1d" /></td>
                <td><input type="text" name="donor2d" /></td>
                <td><input type="text" name="donor3d" /></td>
                <td><input type="text" name="fundsRequested1d" /></td>
                <td><input type="text" name="grandTotal1d" /></td>
            </tr>
            <tr>
                <td>b)</td>
                <td><input type="text" name="donor1e" /></td>
                <td><input type="text" name="donor2e" /></td>
                <td><input type="text" name="donor3e" /></td>
                <td><input type="text" name="fundsRequested1e" /></td>
                <td><input type="text" name="grandTotal1e" /></td>
            </tr>
            <tr>
                <td>c)</td>
                    <td><input type="text" name="donor1f" /></td>
                    <td><input type="text" name="donor2f" /></td>
                    <td><input type="text" name="donor3f" /></td>
                    <td><input type="text" name="fundsRequested1f" /></td>
                    <td><input type="text" name="grandTotal1f" /></td>
            </tr>

            <tr>
                 <td colspan="5">2) EQUIPMENT AND MATERIALS</td>
            </tr>
            <tr>
                <td>a)</td>
                <td><input type="text" name="donor1g" /></td>
                <td><input type="text" name="donor2g" /></td>
                <td><input type="text" name="donor3g" /></td>
                <td><input type="text" name="fundsRequested1g" /></td>
                <td><input type="text" name="grandTotal1g" /></td>
            </tr>
            <tr>
                <td>b)</td>
                <td><input type="text" name="donor1h" /></td>
                <td><input type="text" name="donor2h" /></td>
                <td><input type="text" name="donor3h" /></td>
                <td><input type="text" name="fundsRequested1h" /></td>
                <td><input type="text" name="grandTotal1h" /></td>
            </tr>
            <tr>
                <td>c)</td>
                <td><input type="text" name="donor1i" /></td>
                <td><input type="text" name="donor2i" /></td>
                <td><input type="text" name="donor3i" /></td>
                <td><input type="text" name="fundsRequested1i" /></td>
                <td><input type="text" name="grandTotal1i" /></td>
            </tr>
            <tr>
                 <td colspan="5">3) TRAVEL</td>
            </tr>
            <tr>
                <td>a)</td>
                <td><input type="text" name="donor1j" /></td>
                <td><input type="text" name="donor2j" /></td>
                <td><input type="text" name="donor3j" /></td>
                <td><input type="text" name="fundsRequested1j" /></td>
                <td><input type="text" name="grandTotal1j" /></td>
            </tr>
            <tr>
                <td>b)</td>
                <td><input type="text" name="donor1k" /></td>
                <td><input type="text" name="donor2k" /></td>
                <td><input type="text" name="donor3k" /></td>
                <td><input type="text" name="fundsRequested1k" /></td>
                <td><input type="text" name="grandTotal1k" /></td>
            </tr>
            <tr>
                <td>c)</td>
                <td><input type="text" name="donor1l" /></td>
                <td><input type="text" name="donor2l" /></td>
                <td><input type="text" name="donor3l" /></td>
                <td><input type="text" name="fundsRequested1l" /></td>
                <td><input type="text" name="grandTotal1l" /></td>
            </tr>
            <tr>
                <td colspan="5">4) OTHER</td>
            </tr>
            <tr>
                <td>a)</td>
                <td><input type="text" name="donor1m" /></td>
                <td><input type="text" name="donor2m" /></td>
                <td><input type="text" name="donor3m" /></td>
                <td><input type="text" name="fundsRequested1m" /></td>
                <td><input type="text" name="grandTotal1m" /></td>
            </tr>
            <tr>
                <td>b)</td>
                <td><input type="text" name="donor1n" /></td>
                <td><input type="text" name="donor2n" /></td>
                <td><input type="text" name="donor3n" /></td>
                <td><input type="text" name="fundsRequested1n" /></td>
                <td><input type="text" name="grandTotal1n" /></td>
            </tr>
            <tr>
                <td>c)</td>
                <td><input type="text" name="donor1o" /></td>
                <td><input type="text" name="donor2o" /></td>
                <td><input type="text" name="donor3o" /></td>
                <td><input type="text" name="fundsRequested1o" /></td>
                <td><input type="text" name="grandTotal1o" /></td>
            </tr>
            <tr>
                <td>TOTALS</td>
                    <td><input type="text" name="donor1p" /></td>
                    <td><input type="text" name="donor2p" /></td>
                    <td><input type="text" name="donor3p" /></td>
                    <td><input type="text" name="fundsRequested1p" /></td>
                    <td><input type="text" name="grandTotal1p" /></td>
            </tr>
               

            
            
        </tbody>
    </table>
    </div>

</body>

