@page
@model CS4760Group1.Pages.Colleges.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>College</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="College.Name" class="control-label"></label>
                <input asp-for="College.Name" class="form-control" />
                <span asp-validation-for="College.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="College.Dean" class="control-label"></label>
                <input asp-for="College.Dean" class="form-control" />
                <span asp-validation-for="College.Dean" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="College.Location" class="control-label"></label>
                <input asp-for="College.Location" class="form-control" />
                <span asp-validation-for="College.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
