@page
@model CS4760Group1.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PasswordHash" class="control-label"></label>
                <input asp-for="User.PasswordHash" type="password" class="form-control" />
                <span asp-validation-for="User.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>

            <div id="filterSection">
                <div class="form-group">
                    <label asp-for="User.CollegeId" class="control-label">College</label>
                    <select asp-for="SelectedCollegeId" class="form-control" asp-items="Model.CollegeList" id="collegeSelect">
                        <option value="">Select a college</option>
                    </select>
                    <span asp-validation-for="User.CollegeId" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="User.DepartmentId" class="control-label">Department:</label>
                    <select asp-for="User.DepartmentId" class="form-control" asp-items="Model.DepartmentList" id="departmentSelect">
                        <option value="">Select a department</option>
                    </select>
                    <span asp-validation-for="User.DepartmentId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="User.Role" class="control-label"></label>
                <select asp-for="User.Role" class="form-control">
                    <option value="">Select a role</option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <span asp-validation-for="User.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/UpdateDepartments.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}